header{
    
    background-color: darkred;
    height: 200px;
    position: relative;
    margin: 200px 0 0 0;
    width: 100%;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: 500px;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    font-family: cursive;
}
.title h1{
    font-size: 30px
}


.page{
    float: left;
    top: 800px;
    left: 30px;
}
body{
    margin: auto;
    background-color: lightyellow;
    font-family: cursive;
}

label{
    text-align: center;
}

#about{
    margin-top: 50px;
    margin-bottom: 90px;
}

body h2{
    margin: 20px 5px 20px 5px;
    font-size: 20px;
    color: rgb(83, 19, 19);
    text-align: center;
}

body h3{
    font-size: 25px;
    color: #531313;
    text-align: center;
    margin: 60px 0 0 0;
}

body h4{
    font-size: 20px;
    color: #531313;
    text-align: center;
}

body h5{
    font-size: 17px;
    color: #531313;
    text-align: center;
}

.hidden_box {
    margin: 50px 0 50px 0;
    padding: 0;
    text-align: center;
}

.hidden_box label{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 25px;
    background: darkred;
    color: #FFF;
    border-radius: 10%;
    box-shadow: 0px 0px 0px 5px darkred;
    border: dashed 1px #FFF;
}
  
.hidden_box label:hover {
    border: dotted 1px #FFF;
}

.hidden_box input {
    display: none;
}

.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/* #box01{
    margin-bottom: 100px;
}
*/

footer{
    text-align: center;
}

/*--スマホ用--*/
@media screen and (max-width:480px) {
html{
    font-family: cursive;

}
.title{
    width: 100%;
}

header {
    height: 150px;
    margin: 0;
}

}